# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/
.ipynb_checkpoints
.mypy_cache/
.dmypy.json
dmypy.json
celerybeat-schedule

# FastAPI specific
.env
.flaskenv
instance/
.vscode/
*.log
*.sqlite3
*.db
tmp/
dist/
build/
*.egg-info/
.DS_Store